<footer class="site-footer">
  <div class="footer-top">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6">
          <div class="text-left text-white">
            <p class="copyright">Copyright © 2023 Coffee</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="text-right">
            <ul class="list-inline footer-social m-b0">
              <li class="ng-star-inserted">
                <a href="/" class="fa fa-facebook"></a></li>
              <li class="ng-star-inserted">
                <a href="/" class="fa fa-twitter"></a></li>
              <li class="ng-star-inserted">
                <a href="/" class="fa fa-linkedin"></a></li>
              <li class="ng-star-inserted">
                <a href="/" class="fa fa-google-plus"></a></li>
              <!---->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--  <button type="button" class="scroltop" style="display: inline-block;"><i class="fa fa-angle-up"></i></button>-->
</footer>
