<app-app-page-banner [title]="'A propos de nous'"
                     [subTitle]="'LA GRANDE MOTTE CAFE ET RESTAURANT'"
                     [imageUrl]="'url(assets/images/banner/bnr1.jpeg)'"
></app-app-page-banner>
<div class="section-full content-inner bg-pink-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6 m-b30">
        <img src="assets/images/about/pic4.jpeg" alt="" class="radius-sm img-cover"></div>
      <div class="col-md-6 m-b30 align-self-center">
        <div class="section-head full-head text-center">
          <h2 class="main-title text-primary">A propos de nous</h2>
          <h3 class="title">LA GRANDE MOTTE</h3>
          <div class="dlab-separator"></div>
          <p>Le café et restaurant de Sala Aljadida est un véritable joyau niché dans cette charmante ville marocaine.
            Avec son ambiance méditerranéenne et sa cuisine délicieuse, cet établissement est une invitation à la
            détente et à la découverte.

            Situé au cœur de Sala Aljadida, ce café offre un cadre pittoresque où vous pourrez profiter de l'atmosphère
            locale tout en dégustant une cuisine exquise. L'endroit est réputé pour sa vue magnifique sur la
            Méditerranée, créant une atmosphère apaisante et relaxante pour vos repas.

            Le menu propose une variété de plats exquis, mettant en avant les saveurs locales et les produits frais de
            la région. Que vous souhaitiez savourer des fruits de mer fraîchement pêchés, déguster des salades
            légères ou vous régaler des pâtesseries, vous trouverez de quoi satisfaire toutes
            vos envies culinaires.

            Le personnel chaleureux et attentionné du café et restaurant de La Grande Motte est dévoué à offrir une
            expérience exceptionnelle à ses clients. Que vous veniez pour un déjeuner ensoleillé en famille, un dîner
            romantique au coucher du soleil ou un simple café entre amis, cet établissement saura répondre à vos
            attentes.

            Que vous soyez un habitant de la région ou un touriste en visite, ce café et restaurant est un
            incontournable pour tous ceux qui recherchent une expérience gastronomique exceptionnelle dans un cadre
            magnifique.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

