<app-app-page-banner [title]="'ABOUT US'"
                     [subTitle]="'CAFEZONE CAFE & RESTAURANT'"
                     [imageUrl]="'url(assets/images/banner/bnr1.jpeg)'"
></app-app-page-banner>
<div class="section-full content-inner bg-pink-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6 m-b30">
        <img src="assets/images/about/pic4.jpeg" alt="" class="radius-sm img-cover"></div>
      <div class="col-md-6 m-b30 align-self-center">
        <div class="section-head full-head text-center">
          <h2 class="main-title text-primary">About us</h2>
          <h3 class="title">CAFEZONE</h3>
          <div class="dlab-separator"></div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum
            tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae
            erat. Aenean faucibus nibh et justo cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor
            interdum nulla, ut commodo diam libero vitae erat.</p>
        </div>
        <div class="rating-box text-center">
          <ul class="rating-star">
            <li>
              <i class="fa fa-star text-primary"></i></li>
            <li>
              <i class="fa fa-star text-primary"></i></li>
            <li>
              <i class="fa fa-star text-primary"></i></li>
            <li>
              <i class="fa fa-star text-primary"></i></li>
            <li>
              <i class="fa fa-star text-gray-dark"></i></li>
          </ul>
          <h2 class="rating-title">"Best cafe in London. Ever!”</h2>
          <p>“Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean
            faucibus nibh et justo cursus.”</p>
          <h4 class="rating-name">Peter Johnson, Chef</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-full content-inner-2">
  <div class="container">
    <div class="row sp0 contact-box align-items-center">
      <div class="col-lg-6 col-md-6">
        <div class="section-head full-head text-center">
          <h2 class="main-title text-primary">Our location</h2>
          <h3 class="title">VISIT US!</h3>
          <div class="dlab-separator"></div>
          <p class="m-b0">We are located next to Green House Club. 8901 Marmora Road Chi Minh City, Vietnam</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14443.076073250879!2d75.8417313!3d25.177276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1577358063715!5m2!1sen!2sin"
          allowfullscreen="" style="border: 0; height: 300px; width: 100%; margin-bottom: -5px;"></iframe>
      </div>
    </div>
    <div class="row sp0 contact-box contact-box-reversed">
      <div class="col-lg-6 col-md-6">
        <img src="assets/images/our-services/pic1.jpeg" alt="" class="img-cover"></div>
      <div class="col-lg-6 col-md-6 align-self-center">
        <div class="section-head full-head text-center">
          <h2 class="main-title text-primary">Have a question?</h2>
          <h3 class="title">CONTACT US</h3>
          <div class="dlab-separator"></div>
          <p class="m-b0">Call us: +0 123 456 7890</p>
          <p class="m-b0">Mail us: info@example.com</p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

