<div class="section-full bg-pink-light">
  <div class="container">
    <div class="dlab-tabs menu-tabs style1">
      <ul class="nav-tabs nav" role="tablist">
        <li id="nav-item" *ngFor="let category of categories; let i = index">
          <a (click)="showActiveTab(category);scrollToTabContent()"
            [class.active]="category.active"
            id="ngb-nav-{{i + 1}}" role="tab" [attr.aria-selected]="category.active"
                                   aria-disabled="false" class="nav-link"
            [attr.aria-controls]="'ngb-nav-' + (i + 1) + '-panel'">
            <div class="icon-bx">
              <img [src]="category.imageUrl">
            </div>
            <h4 style="text-transform: uppercase">{{category.name}}</h4>
            <h6 style="text-transform: uppercase">{{category.description}}</h6>
          </a>
        </li>
      </ul>
      <div id="tab-content" class="tab-content">
        <div fxLayout="row" fxLayoutAlign="center center">
          <mat-spinner color="accent" *ngIf="showSpinner"></mat-spinner>
        </div>
        <div class="tab-pane fade show active" id="ngb-nav-3-panel" role="tabpanel">
          <div class="tab-pane">
            <app-item [items]="activeMenuList"></app-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
