.bottom-bar {
  position: sticky;
  bottom: 10px;
  left: 0;
  right: 0;
  background-color: #6B4D39;
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
  z-index: 1;
  height: 60px;
}

.total-price {
  font-size: 19px;
  color: white;
}

.order-btn {
  background-color: transparent !important;
  color: white !important;
  font-size: 19px;
  font-weight: 700;
}
