<div class="bg-pink-light" style="height: 100%">
  <mat-toolbar color="primary">
    <button mat-icon-button aria-label="back to menu"
            (click)="goBack()">
      <mat-icon>arrow_back_ios_new</mat-icon>
    </button>
    <span>Retour au menu</span>
  </mat-toolbar>
  <div class="container">
    <div class="dlab-tabs menu-tabs style1">

      <div class="tab-pane">
        <app-item [items]="selectedItems" [editOrder]="true" [isOrderValidateStep]="true"></app-item>
      </div>

      <div fxLayout="column" fxLayoutAlign="center center" *ngIf="!isOrderValidated && selectedItems.length > 0">
        <a class="btn" (click)="validateOrder()" *ngIf="!showSpinner">Valider la commande</a>
        <span style="color: red;text-align: center;" *ngIf="!showSpinner">Veuillez vérifier votre commande avant de la valider.</span>
        <div fxLayout="row" fxLayoutAlign="center center">
          <mat-spinner color="accent" *ngIf="showSpinner"></mat-spinner>
        </div>
      </div>

      <div class="center" *ngIf="isOrderValidated || selectedItems.length == 0">
        <a class="btn" (click)="startNewOrder()">Lancer une nouvelle commande ?</a>
      </div>
      <app-total-bar [orderState]="isOrderValidated ? 'Validée':''"></app-total-bar>
    </div>
  </div>
</div>
