<div class="bg-gray-light h-100">
  <div class="container h-100" fxLayout="row" fxLayoutAlign="center center">
    <mat-card [style.max-width.px]="500" class="p-2">
      <div fxLayout="column" fxLayoutAlign="center center" class="text-center">
        <h1 class="uppercase">Sign In</h1>
        <a mat-button routerLink="/login" color="accent"></a>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="onLoginFormSubmit(loginForm.value)">
        <mat-form-field appearance="outline" class="w-100 mt-2">
          <mat-icon matPrefix class="mr-1 text-muted">email</mat-icon>
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email" required>
          <mat-error *ngIf="f.email.errors?.required">Email is required</mat-error>
          <mat-error *ngIf="f.email.hasError('email')">Invalid email address</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100 mt-1">
          <mat-icon matPrefix class="mr-1 text-muted">lock</mat-icon>
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password" formControlName="password" required
                 [type]="hide ? 'password' : 'text'">
          <mat-error *ngIf="f.password.errors?.required">Password is required</mat-error>
          <mat-error *ngIf="f.password.hasError('minlength')">Password isn't long enough, minimum of 6 characters
          </mat-error>
          <button mat-icon-button matSuffix (click)="hide = !hide" type="button" class="text-muted">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <mat-slide-toggle formControlName="rememberMe" class="my-2">Keep me signed in</mat-slide-toggle>
        <div class="text-center mt-2">
          <button mat-raised-button color="accent" class="uppercase" type="submit">
            Sign to My Account
          </button>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="mt-3" *ngIf="errorMessage">
          <div class="divider w-100"></div>
          <h3 class="text-muted ws-nowrap fw-500 p-2" style="color: red !important;">{{errorMessage}}</h3>
          <div class="divider w-100"></div>
        </div>
      </form>

      <mat-card-actions fxLayoutAlign="end center">
         <button mat-button (click)="goToResetPasswordPage()">
           <mat-icon class="text-muted">vpn_key</mat-icon>
           <span class="mx-1">Reset Password</span>
         </button>
       </mat-card-actions>
    </mat-card>
  </div>
</div>


