<div fxLayout="row wrap" fxLayoutAlign="center center">
  <div fxFlex="100" fxFlex.gt-sm="50" class="p-3">
    <h2 class="text-muted text-center fw-600 mb-3">Order details</h2>

    <div class="dlab-tabs menu-tabs">
      <div class="tab-pane">
        <app-item [items]="order.items"
                  (updateOrder)="updateOrder($event)"
                  (addItemToOrder)="updateOrder($event)"
                  [editOrder]="!isOrderConfirmed"
                  [addOrder]="!isOrderConfirmed"
                  [isOrderConfirmStep]="true"></app-item>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between center" class="mt-3">
      <div class="divider w-100"></div>
      <h3 class="text-muted ws-nowrap p-2" style="font-weight: bold">
        {{selecedItemsNbr}} {{ selecedItemsNbr > 1 ? 'articles' : 'article'}} |
        Total: {{order.totalAmount | number: '1.2-2'}} {{ order.totalAmount > 1 ? 'Dhs' : 'Dh'}}
      </h3>
      <div class="divider w-100"></div>
    </div>

    <form #serverForm="ngForm" (ngSubmit)="confirmOrder(serverForm)" novalidate *ngIf="!isOrderConfirmed">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>N° Table</mat-label>
        <input matInput name="tableNumber" type="number" [(ngModel)]="tableNumber" required>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Choisissez un serveur</mat-label>
        <mat-select name="selectedServer" [(ngModel)]="selectedServer" required>
          <mat-option *ngFor="let server of servers" [value]="server">{{ server }}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="text-center mt-2">
        <div fxLayout="row" fxLayoutAlign="center center">
          <mat-spinner color="primary" *ngIf="showSpinner"></mat-spinner>
        </div>
        <button mat-raised-button type="submit" [disabled]="!serverForm.valid" color="primary" *ngIf="!showSpinner">Confirmer
          la commande
        </button>
      </div>

    </form>
  </div>
</div>
