<div fxLayout="row wrap" fxLayoutAlign="center center">
  <div fxFlex="100" fxFlex.gt-sm="50">
    <h2 class="text-center fw-bold uppercase mb-3"></h2>

    <mat-card fxLayout="column" fxLayoutAlign="center" class="p-10">
      <mat-card-title align="center" class="uppercase">Order details</mat-card-title>
      <mat-card-content>
        <div class="dlab-tabs menu-tabs">
          <div class="tab-pane">
            <app-item [items]="order.items"
                      (updateOrder)="updateOrder($event)"
                      (addItemToOrder)="updateOrder($event)"
                      [editOrder]="!isOrderConfirmed"
                      [addOrder]="!isOrderConfirmed"
                      [isOrderConfirmStep]="true"></app-item>
          </div>
        </div>

        <h4 *ngIf="order.tableNumber"><span class="text-muted">N° Table : </span>{{order.tableNumber}}</h4>
        <h4 *ngIf="order.serverId"><span class="text-muted">Serveur : </span>{{order.serverId}}</h4>
        <h4 *ngIf="order.updateDate"><span class="text-muted">Data validation :</span> {{order.orderDate.toDate() | date : 'dd/MM/yyyy HH:mm:ss'}}</h4>
        <h4 *ngIf="order.updateDate"><span class="text-muted">Data confirmation : </span>{{order.updateDate.toDate() | date : 'dd/MM/yyyy HH:mm:ss'}}</h4>
        <h3 class="fw-bolder">Total : {{order.totalAmount | number: '1.2-2'}} {{ order.totalAmount > 1 ? 'Dhs' : 'Dh'}}</h3>

        <form #serverForm="ngForm" (ngSubmit)="confirmOrder(serverForm)" novalidate *ngIf="!isOrderConfirmed">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>N° Table</mat-label>
        <input matInput name="tableNumber" type="number" [(ngModel)]="tableNumber" required>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Choisissez un serveur</mat-label>
        <mat-select name="selectedServer" [(ngModel)]="selectedServer" required>
          <mat-option *ngFor="let server of servers" [value]="server">{{ server }}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="text-center mt-2">
        <div fxLayout="row" fxLayoutAlign="center center">
          <mat-spinner color="primary" *ngIf="showSpinner"></mat-spinner>
        </div>
        <button mat-raised-button type="submit"
                [disabled]="!serverForm.valid"
                color="primary"
                *ngIf="!showSpinner">
          Confirmer la commande
        </button>
      </div>

    </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
