<div class="bg-pink-light" style="height: 100%">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let order of cart; let i = index" style="top: 10px;margin: 0 15px 15px 15px;">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Order N° {{i + 1}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="tab-pane">
        <div class="menu-box">
          <ul class="menu-list">
            <li *ngFor="let item of order.items; let j = index">
              <div class="item-left">
                <img [src]="item.imageUrl">
                <h4 class="title">{{item.quantity}} x {{item.name}} ({{item.price | number: '1.2-2'}})</h4>
                <p class="description"><span *ngFor="let ingredient of item.ingredients; let last = last">
          {{ ingredient }}{{ !last ? ', ' : '' }}</span></p>
              </div>
              <div class="item-right">
                <h4 class="total">{{(item.price * item.quantity) | number: '1.2-2'}}</h4>
              </div>
            </li>
          </ul>
          <h4>Total: {{order.totalAmount | number: '1.2-2'}} Dhs</h4>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<app-footer></app-footer>

