<div class="section-full content-inner-2 overlay-white-light"
     style="background-image: url(/assets/images/background/bg1.jpeg);
       background-position: top right; background-repeat: no-repeat;">
  <div class="container">
    <div class="section-head text-center">
      <h3 class="title">EVER TRIED THESE?</h3>
      <h4 class="sub-title">THESE ARE OUR SPECIALS:</h4>
      <div class="dlab-separator"></div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="menu-box">
          <ul class="menu-list">
            <li *ngFor="let product of specialMenuList; let i = index" >
                  <div class="item-left">
                    <img [src]="product.image">
                    <h4 class="title">{{product.name}}</h4>
                    <p class="description">{{product.ingredients}}</p>
                  </div>
                  <div class="item-right">
                    <h5 class="price">{{product.price | currency}}</h5>
                    <button mat-flat-button class="add" (click)="addToCart(product)">add</button>
                  </div>
                </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
