<app-app-page-banner [title]="'NOCONTACEZ'"
                     [subTitle]="'CAFEZONE CAFE & RESTAURANT'"
                     [imageUrl]="'url(assets/images/banner/bnr1.jpeg)'"
></app-app-page-banner>
<div class="section-full content-inner-2">
  <div class="container">
    <div class="row sp0 contact-box align-items-center">
      <div class="col-lg-6 col-md-6">
        <div class="section-head full-head text-center">
          <h2 class="main-title text-primary">Notre localisation</h2>
          <h3 class="title">Visitez nous</h3>
          <div class="dlab-separator"></div>
          <p class="m-b0">Nous sommes situés à côté des Jardins Sala Al Jadida, Maroc</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3307.8621449426983!2d-6.744401810650646!3d33.99607450402034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda7402342b00453%3A0xf4be56e49d46642!2sJardins%20Sala%20Al%20Jadida!5e0!3m2!1sfr!2sfr!4v1696524606404!5m2!1sfr!2sfr"
          allowfullscreen="" style="border: 0; height: 300px; width: 100%; margin-bottom: -5px;"></iframe>
      </div>
    </div>
    <div class="row sp0 contact-box contact-box-reversed">
      <div class="col-lg-6 col-md-6">
        <img src="assets/images/our-services/pic1.jpeg" alt="" class="img-cover"></div>
      <div class="col-lg-6 col-md-6 align-self-center">
        <div class="section-head full-head text-center">
          <h2 class="main-title text-primary">Avez-vous une question?</h2>
          <h3 class="title">Contactez nous</h3>
          <div class="dlab-separator"></div>
          <p class="m-b0">Appelez-nous: +0 123 456 7890</p>
          <p class="m-b0">Envoyez-nous un courrier: info@example.com</p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
