<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
    [style.background-image]="'url(assets/images/background/bg4.jpeg)'">
    <mat-toolbar>
      <button *ngIf="!(isHandset$ | async)" mat-icon-button
              [matBadge]="cart.length"
              [matBadgeHidden]="hidden"
              matBadgeColor="warn"
              class="closebtn btn" aria-label="Cart icon" style="margin: 20px"
              (click)="goToCart()">
        <mat-icon>shop</mat-icon>
      </button>
      <a *ngIf="isHandset$ | async" class="closebtn btn" (click)="drawer.close()">×</a>
      <div class="logo-header">
        <a routerLink="/menu">
          <img src="assets/images/logo3.png" width="193" height="89" alt="" class="mCS_img_loaded">
        </a>
      </div>
    </mat-toolbar>
    <mat-nav-list *ngIf="isHandset$ | async">
      <a mat-list-item routerLink="/menu" routerLinkActive="activebutton"
         style="text-align: center" (click)="drawer.close()">Menu
      </a>
      <a mat-list-item routerLink="/about" routerLinkActive="activebutton"
         style="text-align: center" (click)="drawer.close()">A propos de nous
      </a>
      <a mat-list-item routerLink="/contact" routerLinkActive="activebutton"
         style="text-align: center" (click)="drawer.close()">Contactez-nous
      </a>
    </mat-nav-list>
    <mat-nav-list *ngIf="!(isHandset$ | async)">
      <a mat-list-item routerLink="/menu" routerLinkActive="activebutton" style="text-align: center">Menu</a>
      <a mat-list-item routerLink="/about" routerLinkActive="activebutton" style="text-align: center">A propos de nous</a>
      <a mat-list-item routerLink="/contact" routerLinkActive="activebutton" style="text-align: center">Contactez-nous</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" *ngIf="isHandset$ | async">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        style="position: absolute;right: 0px;">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="logo-header">
        <a routeLink="/">
          <img src="assets/images/logo3.png" alt="">
        </a>
      </div>
      <span class="spacer"></span>
      <button mat-icon-button
              [matBadge]="cart.length"
              [matBadgeHidden]="hidden"
              matBadgeColor="warn"
              class="shop-icon" aria-label="Cart icon"
              (click)="goToCart()">
        <mat-icon>shop</mat-icon>
      </button>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
