.add {
  margin-bottom: 0;
  background-color: rgb(31, 195, 106);
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  margin-top: 10px;
}
.remove {
  margin-bottom: 0;
  margin-left: 5px;
  background-color: #e21836;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  margin-top: 10px;
}
