<div class="section-full bg-pink-light">
  <div class="container">
    <div class="dlab-tabs menu-tabs style1">
      <ul class="nav-tabs nav" role="tablist">
        <li class="nav-item">
          <a (click)="showCoffeeMenu()"
            [class.active]="coffeeMenu"
            id="ngb-nav-3" role="tab" aria-selected="true"
            aria-disabled="false" class="nav-link"
            aria-controls="ngb-nav-3-panel">
            <div class="icon-bx">
              <img
                src="assets/images/icons/icon8.png">
            </div>
            <h4>COFFEE</h4>
            <h6>COFFEE &amp; CAPPUCCINO</h6>
          </a>
        </li>
        <li class="nav-item">
          <a (click)="showLunchMenu()"
            [class.active]="lunchMenu"
            id="ngb-nav-4" role="tab" aria-selected="false"
            aria-disabled="false" class="nav-link">
            <div
              src="assets/images/icons/icon5.png"></div>
            <h4>LUNCH</h4>
            <h6>COFFEE &amp; CAPPUCCINO</h6>
          </a>
        </li>
        <li class="nav-item">
          <a (click)="showDinnerMenu()"
            [class.active]="dinnerMenu"
            id="ngb-nav-5" role="tab" aria-selected="false"
            aria-disabled="false" class="nav-link">
            <div
              src="assets/images/icons/icon6.png"></div>
            <h4>DINER</h4>
            <h6>COFFEE &amp; CAPPUCCINO</h6>
          </a>
        </li>
        <li class="nav-item">
          <a (click)="showDrinkMenu()"
            [class.active]="drinkMenu"
            id="ngb-nav-6" role="tab" aria-selected="false"
            aria-disabled="false" class="nav-link">
            <div
              src="assets/images/icons/icon7.png"></div>
            <h4>DRINKS</h4>
            <h6>COFFEE &amp; CAPPUCCINO</h6>
          </a>
        </li>
      </ul>
      <div class="mt-2 tab-content">
        <div *ngIf="coffeeMenu" class="tab-pane fade show active" id="ngb-nav-3-panel" role="tabpanel"
                                aria-labelledby="ngb-nav-3">
          <div class="tab-pane">
            <div class="menu-box">
              <ul class="menu-list">
                <li *ngFor="let product of coffeeMenuList; let i = index">
                  <div class="item-left">
                    <img [src]="product.image">
                    <h4 class="title">{{product.name}}</h4>
                    <p class="description">{{product.ingredients}}</p>
                  </div>
                  <div class="item-right">
                    <h5 class="price">{{product.price | currency}}</h5>
                    <button mat-flat-button class="add" (click)="addToCart(product)">add</button>
                  </div>
                </li>
                <!---->
              </ul>
            </div>
          </div>
        </div>

        <div *ngIf="lunchMenu" class="tab-pane fade  active show" id="ngb-nav-4-panel" role="tabpanel"
                               aria-labelledby="ngb-nav-4">
          <div class="tab-pane ">
            <div class="menu-box">
              <ul class="menu-list">
                <li *ngFor="let product of lunchMenuList; let i = index">
                  <div class="item-left">
                    <img [src]="product.image">
                    <h4 class="title">{{product.name}}</h4>
                    <p class="description">{{product.ingredients}}</p>
                  </div>
                  <div class="item-right">
                    <h5 class="price">{{product.price | currency}}</h5>
                    <button mat-flat-button class="add" (click)="addToCart(product)">add</button>
                  </div>
                </li>
                <!---->
              </ul>
            </div>
          </div>
        </div>

        <div *ngIf="dinnerMenu" class="tab-pane fade  active show" id="ngb-nav-5-panel" role="tabpanel"
                                aria-labelledby="ngb-nav-5">
          <div class="tab-pane ">
            <div class="menu-box">
              <ul class="menu-list">
                <li *ngFor="let product of dinnerMenuList; let i = index" >
                  <div class="item-left">
                    <img [src]="product.image">
                    <h4 class="title">{{product.name}}</h4>
                    <p class="description">{{product.ingredients}}</p>
                  </div>
                  <div class="item-right">
                    <h5 class="price">{{product.price | currency}}</h5>
                    <button mat-flat-button class="add" (click)="addToCart(product)">add</button>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div *ngIf="drinkMenu" class="tab-pane fade  active show" id="ngb-nav-6-panel" role="tabpanel"
                               aria-labelledby="ngb-nav-6">
          <div class="tab-pane ">
            <div class="menu-box">
              <ul class="menu-list">
                <li *ngFor="let product of drinksMenuList; let i = index" >
                  <div class="item-left">
                    <img [src]="product.image">
                    <h4 class="title">{{product.name}}</h4>
                    <p class="description">{{product.ingredients}}</p>
                  </div>
                  <div class="item-right">
                    <h5 class="price">{{product.price | currency}}</h5>
                    <button mat-flat-button class="add" (click)="addToCart(product)">add</button>
                  </div>
                </li>
                <!---->
              </ul>
            </div>
          </div>
          <!---->
        </div>
      </div>
    </div>
  </div>
</div>
