<div fxLayout="row" fxLayoutAlign="center center" class="h-100">
  <mat-spinner color="primary" *ngIf="showSpinner"></mat-spinner>
</div>

<div style="display: block;max-width: 950px">
  <canvas baseChart
          [data]="barChartData"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [type]="'bar'">
  </canvas>
</div>

<div style="display: block;max-width: 950px">
  <canvas baseChart
          [data]="barChartData1"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [type]="'bar'">
  </canvas>
</div>
